<div *ngIf='(photo$ | async) as photo' class='bg-white border'>
  <div class='row'>
    <div class='col-lg-8'>
      <app-photo [description]='photo.description' [url]='photo.url'></app-photo>
    </div>

    <div class='col-lg-4 p-4'>
      <small>
        <p class='text-left break-word'>{{photo.description}}</p>
        <div class='text-left mb-4'>
          <i class='fa fa-heart-o fa-2x mr-2 pull-left' showIfLogged> {{ photo.likes }} </i>
          <i class='fa fa-comment-o fa-2x mr-2 ml-2'></i>{{ photo.comments }}
          <i (click)='remove()' [ownedPhoto]='photo' class='fa fa-trash-o fa-2x pull-right' photoOwnerOnly></i>
        </div>
        <hr>
      </small>
      <app-photo-comments *ngIf='photo.allowComments; else warning' [photoId]='photoId'></app-photo-comments>
      <ng-template #warning>User has disabled comments for this photo.</ng-template>
    </div>
  </div>
</div>
