<div class='container'>
  <form (submit)='upload()' [formGroup]='photoForm' class='row'>
    <div class='col-md-6 text-center'>
      <div *ngIf='!preview; else previewImage' class='form-group'>
        <button (click)='fileInput.click()' class='btn btn-primary' type='button'>
          <i class='fa fa-image fa-4x align-middle'></i>
        </button>
        <input #fileInput (change)='handleFile($event.target.files[0])' accept='image/*' formControlName='file'
               hidden immediateClick
               type='file'>
        <app-message *ngIf="photoForm.get('file').errors?.required" text='Please, select photo'></app-message>
      </div>

      <ng-template #previewImage>
        <div class='text-center'>
          <app-photo [url]='preview' title='Preview'></app-photo>
        </div>
      </ng-template>
    </div>

    <div class='col-md-6'>
      <div class='form-group'>
        <textarea
          class='form-control form-control-sm'
          formControlName='description'
          placeholder='photo description'></textarea>
        <app-message *ngIf="photoForm.get('description').errors?.maxlength" text='Max Length is 300'></app-message>

      </div>

      <div class='form-group'>
        <label class='text-muted'>
          Allow comments
          <input formControlName='allowComments' type='checkbox'>
        </label>
      </div>

      <button
        [disabled]='photoForm.invalid'
        class='btn btn-primary btn-block' type='submit'>
        Upload
      </button>

      <a class='btn btn-secondary btn-block'>Cancel</a>
    </div>
  </form>
</div>
